[Unit]
Description=Starts the Httpd Auth API Service
After=dbus.service
[Service]
EnvironmentFile=/etc/container-environment
ExecStart=/usr/bin/auth-api --port=${HTTPD_AUTH_API_SERVICE_PORT}
[Install]
WantedBy=multi-user.target
